@tailwind base;
@tailwind components;
@tailwind utilities;




.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 10px !important;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.swiper-button-disabled {
    opacity: 0 !important;
    pointer-events: none !important;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -10px !important;
    right: auto;
}

.swiper-button-next {
    right: -9px !important;
}

.css-hsb525-menu {
    position: absolute !important;
    z-index: 3000 !important;
}

.rdrMonth {
    width: 100% !important;
}

.rdrCalendarWrapper {
    font-size: 16px !important;
    width: 100% !important;
}